body {
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	margin-left: 1.0em;
}

p {
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}

.title {
	font-family: Tahoma, sans-serif;
	font-size: 16.0pt;
	font-weight: bold;
	text-align: left;
	color: #6699CC;
	margin-left: 3.0pt;
	margin-top: 6.0pt;
	margin-bottom: 6.0pt;
}

